.box_ev1 {
    .wpb_wrapper {
        p {
            strong {
                color: #000000 !important;
            }
        }
    }
}

.nearest-event-image {
    width: 100%;
    height: auto;
}

.calendar {
    .event-wrapper {
        .event {
            cursor: pointer;
        }
    }
}