/*-- .calendar --*/
.calendar{
  $parents : "body.home .max_event .vc_column_container";
  @at-root{
    #{$parents} .wpb_single_image{
      .vc_figure{
        display: block;
        .vc_single_image-wrapper.vc_box_border_grey{
          display: block;
          img{
            display: none;
          }
        }
      }
    }
  }
  #{$parents} &{
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    header{
      padding-top: 0;
      text-align: center;
      color: white;
      background-color: #a30185;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .month{
        font-size: 15px;
        font-weight: normal;
        .year{
          font-size: inherit;
          font-weight: inherit;
          display: inline;
          color: white;
        }
      }
      .simple-calendar-btn{
        border: none;
        transform: none;
        font-family : "arial unicode ms", "Lucida Sans Unicode", sans-serif;
        height: 100%;
        line-height: 38px;
        &:hover{
          background-color: transparent;
        }
        &.btn-prev{
          left: 10px;
          &:before{
            color:white;
            font-size: 30px;
            border: none;
            content: '◂';
            transform: none;
            position: static;
          }
        }
        &.btn-next{
          right: 10px;
          &:before{
            color:white;
            font-size: 30px;
            border: none;
            content: '▸';
            transform: none;
            position: static;
          }
        }
      } 
    }
    table{
      margin-top: 0;
      margin-bottom: 0;
      thead{
        background-color: rgb(236,205,231);
        border: solid 1px rgb(218,185,219);
        td{
          border-top: solid 1px rgb(221,171,212);
          border-bottom: solid 1px rgb(221,171,212);
          font-size: 13px;
          color: rgb(95,71,90);;
        }
      }
      tbody{
        td{
          padding-top: 0;
          padding-bottom: 0;
          border: none;
          font-size: 13px;
          color: #a30185;
          padding-top: 5px;
          padding-bottom: 5px;
          position: relative;
          &.first .day.wrong-month:before{
            border-top-left-radius: 16px;
          }
          &.last .day.wrong-month:before{
            border-bottom-right-radius: 16px;
          }
          .day{
            position: static;
            border: solid 1px transparent;
            &:hover{
              border: solid 1px #a30185;
            }
            &:not(.has-event){
              pointer-events: none;
            }
            &.today{
              background-color: #eccde7;
            }
            &.has-event{
              background-color: #a30185;
              color: white;
              &:after{
                display: none;
              }
            }
            &.wrong-month{
              color: transparent;
              &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(239,239,239);
              }
            }
          }
        }
      }
    }
    .filler{
      background-color: white;
    }
    .event-container{
      background-color: white;
      .event{
        background-color: #a30185;
      }
    }
  }
}
/*-- end: .calendar --*/


/*-- #modal-inscription --*/
#modal-inscription{
  .bx_shad_form .vc_column-inner{
    margin: 0 !important;
    max-width: none !important;
  }
  .box_contact .wpcf7 label{
    max-width: none;
  }
}
/*-- end: #modal-inscription --*/

/*-- .uk-modal-dialog --*/
.uk-modal-dialog{
  .uk-modal-body{
    //padding-left: 0;
    //padding-right: 0;
  }
  .uk-modal-footer{
    .uk-button{
      text-rendering: optimizeLegibility !important;
      line-height: 1.5;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 600;
      font-size: 15px;
      text-align: center;
      box-sizing: border-box;
      transition: all 0.5s ease;
      text-decoration: none;
      opacity: 1;
      margin-left: auto;
      padding: 5px 20px;
      display: inline-block;
      background-color: #a30185;
      color: #fff;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: auto;
      display: block;
      border: 0;
      &:hover{
        opacity: 0.8;
      }
    }
  }
}
/*-- end: .uk-modal-dialog --*/